<div class="container h-100">
  <div class="row h-100 d-flex align-items-center justify-content-center">
    <mat-card class="shadow p-0" style="max-width: 540px; min-width: auto;">
      <mat-card-header class="w-100 p-0 m-0" *ngIf="loading ">
        <mat-progress-bar class="p-0 m-0 w-100" mode="indeterminate"></mat-progress-bar>
      </mat-card-header>
      <mat-card-content class="mt-4">
        <div class="row">
          <div class="col-12">
            <h1 class="text-center text-dark">Register</h1>
          </div>
        </div>
        <form [formGroup]="form" (submit)="submit()">
          <div class="row">
            <div class="col-12">
              <mat-form-field class="w-100">
                <mat-label>Email</mat-label>
                <input matInput type="email"   formControlName="email">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <mat-form-field class="w-100">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-12  text-center">
              <button mat-flat-button color="primary" [disabled]="loading"  class="w-100" type="submit">submit</button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
